# WiFi Configuration
ssid=YOUR_NETWORK_NAME
password=YOUR_WIFI_PASSWORD

# Web Authentication
username=YOUR_USERNAME
userpass=YOUR_PASSWORD

# Slack Webhook (optional)
slack_webhook=/services/YOUR/WEBHOOK/PATH

# Page Name (optional)
pagename=web_usb_keyboard
